@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}
 body {
   background-color: lightyellow;
 }


.post-list {
  font-size: 14px;
  display: inline-grid;
grid-template-columns: auto auto auto;
  column-gap: 25px;
}


